auth==0.5.3
blinker==1.4
certifi==2020.6.20
chardet==3.0.4
dnspython==1.16.0
eventlet==0.28.0
falcon==2.0.0
greenlet==0.4.17
gunicorn==20.0.4
idna==2.10
mongoengine==0.20.0
monotonic==1.5
oauthlib==3.1.0
pymongo==3.11.0
PySocks==1.7.1
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
tweepy==3.9.0
twython==3.8.2
urllib3==1.25.10
Werkzeug==1.0.1
